# Compiled output
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp

# Future Prototypes (JS, Python, etc.)
node_modules/
dist/
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

*.db-shm
*.db-wal
*.db

*.tmp

# Rust
target/
Cargo.lock

# Generated WASM Output
usp/bindings/js/wasm/
